extends layout

block content
    div(class='col-lg-12')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.weedFSStatus.title}
            div(class='panel-body')
                div(class='table-responsive')
                    table(class='table table-bordered table-hover')
                        thead
                            tr
                                th Data Center
                                th Rack
                                th Remote Address
                                th Volumes
                                th Max Volumes
                                th Detail
                        tbody
                            if weedCluster
                                each node in weedCluster.nodes
                                    tr
                                        td #{node.dataCenter}
                                        td #{node.rack}
                                        td #{node.remoteAddr}
                                        td #{node.volumes}
                                        td #{node.max}
                                        td
                                            a(style='cursor:pointer', class='lf-show-vol-dt-btn')
                                                i(class='fa fa-info-circle fa-fw')
                                                | #{property.weedFSStatus.detail}
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.statusInfo}
            div(class='panel-body')
                div(class='list-group')
                    li(class='list-group-item')
                        i(class='fa fa-info fa-fw')
                        |  Server Version
                        span(class='pull-right text-muted small')
                            em(class='log-tl-em-version')
                    li(class='list-group-item')
                        i(class='fa fa-clock-o fa-fw')
                        |  System Start Time
                        span(class='pull-right text-muted small')
                            em(class='log-tl-em-start-time')
                    li(class='list-group-item')
                        i(class='fa fa-bar-chart-o fa-fw')
                        |  Graylog Connected
                        span(class='pull-right text-muted small')
                            em(class='log-tl-em-graylog-connected')
                    li(class='list-group-item')
                        i(class='fa fa-database fa-fw')
                        |  WeedFS Connected
                        span(class='pull-right text-muted small')
                            em(class='log-tl-em-weed-fs-connected')
                    li(class='list-group-item')
                        i(class='fa fa-warning fa-fw')
                        |  WeedFS Error
                        span(class='pull-right text-muted small')
                            em(class='log-tl-em-weed-fs-error')
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.resourceStatus.title}
            div(class='panel-body')
                label #{property.resourceStatus.memUsage}
                div(class='log-tl-status-mem progress')
                    div(class='progress-bar progress-bar-info', role='progressbar')
                label #{property.resourceStatus.poolUsage}
                div(class='log-tl-status-pool progress')
                    div(class='progress-bar progress-bar-success', role='progressbar')
                label #{property.resourceStatus.queueUsage}
                div(class='log-tl-status-queue progress')
                    div(class='progress-bar progress-bar-warning', role='progressbar')
    div(id='lf-dashboard-vol-dt-dlg', class='modal fade')
        div(class='modal-dialog modal-lg')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.weedFSStatus.detailDlgTitle}
                div(class='modal-body')
                    h5 Disk Stats
                    div(class='table-responsive')
                        table(class='table table-striped table-bordered table-hover')
                            thead
                                tr
                                    th Dir
                                    th All
                                    th Used
                                    th Free
                            tbody(class='lf-dashboard-disk-stats-tbody')
                    h5 Volumes
                    div(class='table-responsive')
                        table(class='table table-striped table-bordered table-hover')
                            thead
                                tr
                                    th Id
                                    th Size
                                    th Files
                                    th Trash
                            tbody(class='lf-dashboard-volumes-tbody')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.weedFSStatus.close}
    script
        include ../assets/js/logful.index.js