doctype html
html
    head
        title #{property.title}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        link(rel='icon', href='favicon.ico')
        link(rel='shortcut icon', href='favicon.ico')

        link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/metisMenu/dist/metisMenu.min.css')
        link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/static/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css')
    body
        div(class='container')
            div(class='row')
                div(class='col-md-4 col-md-offset-4')
                    div(class='login-panel panel panel-default')
                        div(class='panel-heading')
                            h3(class='panel-title') #{property.subTitle}
                        div(class='panel-body')
                            if messages
                                p(style='color:#D8403D') #{messages}
                            form(role='form', method='post', data-toggle='validator')
                                fieldset
                                    div(class='form-group')
                                        input(name='username', type='text', class='form-control', autofocus, required)
                                    div(class='form-group')
                                        input(name='password', type='password', class='form-control', required)
                                    div(class='checkbox')
                                        label
                                            input(name='remember', type='checkbox', value='true')
                                            |  #{property.rememberMe}
                                    button(type='submit', class='btn btn-lg btn-success btn-block') #{property.login}

        script(type='text/javascript' src='/static/jquery/dist/jquery.min.js')
        script(type='text/javascript' src='/static/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript' src='/static/metisMenu/dist/metisMenu.min.js')
        script(type='text/javascript' src='/static/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js')
        script(type='text/javascript' src='/static/bootstrap-validator/dist/validator.min.js')
        script(type='text/javascript' src='/js/log.web.tool.js')