extends layout

block content
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.searchUid.title}
            div(class='panel-body')
                form(class='log-tl-form-search' role='form')
                    // platform
                    div(class='form-group')
                        label #{property.searchUid.platform}
                        select(name='platform', class='form-control')
                            option Android
                            option iOS
                    // alias
                    div(class='form-group')
                        label #{property.searchUid.alias}
                        input(name='alias', class='form-control')
                    // model
                    div(class='form-group')
                        label #{property.searchUid.model}
                        input(name='model', class='form-control')
                    // imei
                    div(class='form-group')
                        label #{property.searchUid.imei}
                        input(name='imei', class='form-control')
                    // macAddress
                    div(class='form-group')
                        label #{property.searchUid.macAddress}
                        input(name='macAddress', class='form-control')
                    // osVersion
                    div(class='form-group')
                        label #{property.searchUid.osVersion}
                        input(name='osVersion', class='form-control')
                    // appId
                    div(class='form-group')
                        label #{property.searchUid.appId}
                        input(name='appId',class='form-control')
                    // version
                    div(class='form-group')
                        label #{property.searchUid.version}
                        input(name='version', class='form-control')
                    // versionString
                    div(class='form-group')
                        label #{property.searchUid.versionString}
                        input(name='versionString', class='form-control')
                    div(class='form-group')
                        button(type='button', class='log-tl-btn-search btn btn-primary') #{property.searchUid.submit}
    // View user info by uid
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.viewUid.title}
            div(class='panel-body')
                form(class='log-tl-form-query' role='form', data-delay='300')
                    // platform
                    div(class='form-group')
                        label #{property.viewUid.platform}
                        select(name='platform', class='form-control')
                            option Android
                            option iOS
                    // uid
                    div(class='form-group')
                        label #{property.viewUid.uid}
                        input(name='uid', class='form-control', required)
                    div(class='form-group')
                        button(type='button', class='log-tl-btn-query btn btn-primary') #{property.viewUid.submit}

    //  search result dialog
    div(id='log-tl-dlg-uid-list', class='modal fade')
        div(class='modal-dialog modal-lg')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.uidListTitle}
                div(class='modal-body')
                    div(class='table-responsive')
                        table(class='table table-striped table-bordered table-hover')
                            thead
                                tr
                                    th #
                                    th #{property.searchUid.uid}
                                    th #{property.searchUid.appId}
                                    th #{property.searchUid.version}
                                    th #{property.searchUid.versionString}
                                    th th #{property.searchUid.detail}
                            tbody(class='log-tl-tbd-uid-list')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.close}
    // detail dialog
    div(id='log-tl-dlg-detail', class='modal fade')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.uidListItemDetail}
                div(class='modal-body')
                    div(class='log-tl-dlg-detail-list list-group')
                        a(class='list-group-item', href='#') Status
                            span(class='pull-right text-muted small')
                                em(class='log-tl-em-status')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.close}
    // user info detail dialog
    div(id='log-tl-dlg-user-info-detail', class='modal fade')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.userUidDetail}
                div(class='modal-body')
                    div(class='table-responsive')
                        table(class='table table-striped table-bordered table-hover')
                            tbody
                                tr
                                    th UID
                                    td(class='log-tl-user-info-detail-uid')
                                tr
                                    th Platform
                                    td(class='log-tl-user-info-detail-platform')
                                tr
                                    th Alias
                                    td(class='log-tl-user-info-detail-alias')
                                tr
                                    th Model
                                    td(class='log-tl-user-info-detail-model')
                                tr
                                    th IMEI
                                    td(class='log-tl-user-info-detail-imei')
                                tr
                                    th MAC Address
                                    td(class='log-tl-user-info-detail-mac-address')
                                tr
                                    th OS Version
                                    td(class='log-tl-user-info-detail-os-version')
                    h5 #{property.appList}
                    div(class='table-responsive')
                        table(class='table table-striped table-bordered table-hover')
                            thead
                                tr
                                    th #
                                    th Application ID
                                    th Version
                                    th Version String
                            tbody(class='log-tl-user-info-app-list')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.close}
    script
        include ../assets/js/log.web.search.js
