extends layout

block content
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.queryLogFileList.title}
            div(class='panel-body')
                form(class='log-tl-form-fetch', role='form', data-delay='300')
                    // platform
                    div(class='form-group')
                        label #{property.queryLogFileList.platform}
                        select(name='platform', class='form-control')
                            option Android
                            option iOS
                    // appId
                    div(class='form-group')
                        label #{property.queryLogFileList.appId}
                        input(name='appId', class='form-control', required)
                    // uid
                    div(class='form-group')
                        label #{property.queryLogFileList.uid}
                        input(name='uid', class='form-control', required)
                    // date
                    div(class='form-group')
                        label #{property.queryLogFileList.date}
                        div(id='datepicker', class='input-group date')
                            input(name='date', type='text', class='form-control', required)
                            span(class='input-group-addon')
                                span(class='glyphicon glyphicon-calendar')
                    button(type='button', class='log-tl-btn-fetch btn btn-primary') #{property.queryLogFileList.submit}
        div(class='panel panel-default')
            div(class='panel-heading') #{property.downloadAttachment.title}
            div(class='panel-body')
                form(class='log-tl-form-attachment', role='form', data-delay='300')
                    // attachmentId
                    div(class='form-group')
                        label #{property.downloadAttachment.attachmentID}
                        input(name='attachmentId', class='form-control log-tl-form-attachment-id', required)
                    a(class='log-tl-btn-dl-attachment btn btn-primary disabled', target='_blank') #{property.downloadAttachment.submit}
    div(class='col-lg-6')
        div(class='panel panel-default')
            div(class='panel-heading') #{property.decryptLogFile.title}
            div(class='panel-body')
                form(class='log-tl-form-decrypt', role='form', data-delay='300')
                    // appId
                    div(class='form-group')
                        label #{property.decryptLogFile.appId}
                        input(name='d-appId', class='form-control', required)
                    // logFile
                    div(class='form-group')
                        label #{property.decryptLogFile.logFile}
                        input(name='d-logFile', type='file', class='file', data-show-preview='false', data-show-upload='false')
                    button(type='button', class='log-tl-btn-decrypt btn btn-primary') #{property.decryptLogFile.submit}
        div(class='panel panel-default')
            div(class='panel-heading') #{property.clearCache.title}
            div(class='panel-body')
                div(class='progress progress-striped active')
                    div(class='progress-bar progress-bar-success', role='progressbar', data-transitiongoal='100')
                button(type='button', class='log-tl-btn-clear btn btn-primary') #{property.clearCache.submit}
                span(class='pull-right text-muted small')
                    em(class='log-tl-em-clear-result')
    // log file list dialog
    div(id='log-tl-dlg-log-list', class='modal fade')
        div(class='modal-dialog modal-lg')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.queryLogFileList.dlgLogFileList.title}
                div(class='modal-body')
                    div(class='dataTable_wrapper')
                        table(class='table table-striped table-bordered table-hover', id='log-tl-table-log-file-list')
                            thead
                                tr
                                    th #
                                    th #{property.queryLogFileList.dlgLogFileList.filename}
                                    th #{property.queryLogFileList.dlgLogFileList.size}
                                    th #{property.queryLogFileList.dlgLogFileList.level}
                                    th #{property.queryLogFileList.dlgLogFileList.operation}
                            tbody(class='log-tl-tbd-log-list')
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.close}
    // log file decrypt dialog
    div(id='log-tl-dlg-log-decrypt', class='modal fade')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') #{property.decryptLogFile.dlgDecrypt.title}
                div(class='modal-body')
                    div(class='log-tl-pgb progress progress-striped active')
                        div(class='progress-bar progress-bar-success', role='progressbar', data-transitiongoal='100')
                    a(href='#', class='log-tl-a-download btn btn-default') #{property.decryptLogFile.dlgDecrypt.download}
                    span(class='log-tl-em-decrypt-failed text-muted small')
                        em(style='color: #af0000') #{property.decryptLogFile.dlgDecrypt.failed}
                div(class='modal-footer')
                    button(type='button', class='btn btn-default', data-dismiss='modal') #{property.close}

    script
        include ../assets/js/logful.util.js